/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Estilos para el menú de categorías */
.menu-categorias {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 30px;
}

.categorias {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.categorias li {
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease;/* suavizar el cambio */
}

.categorias li:last-child {
    margin-right: 0;
}

.categorias li:hover {
    /* background-color: rgba(246, 246, 246, 0.885); 
    border: 1px solid #bbb; */
    border-radius: 10px;
    padding: 10px;
    color: #333; 
}


#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.producto {
    width: 19%; /* Ajusta según tus necesidades para dejar espacio entre las tarjetas */
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* Ajuste para la posición relativa del producto */
}

.producto h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    cursor: pointer;
}

.producto .read-more {
    color: blue;
    cursor: pointer;
    font-size: 14px;
}

.producto .read-more:hover {
    color: rgb(149, 0, 255);
    cursor: pointer;
}

.producto img {
    max-width: 75%;
    height: auto;
    margin-left: 10px;
    cursor: pointer;
}

button {
    background-color: #50b453;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3e9042;
}


td button {
    background-color: rgb(236, 29, 29);
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

td button:hover {
    background-color: rgb(235, 84, 84);
}


.producto {
    position: relative;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    padding: 40px;
}

ul {
    list-style: none;
}



.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
    position: absolute;
    top: 100%; /* Posiciona el carrito debajo del contenedor de imágenes */
    left: 0; /* Alinea el carrito a la izquierda del contenedor de imágenes */
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}





table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  td,
  th {
    padding: 0;
  }



.u-full-width {
    width: 100%;
    box-sizing: border-box; 
    padding-left: 330px;
}


.button-u-full-width{
    width: 100%;
    box-sizing: border-box; 
}
 

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: rgb(254, 1, 1);
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2.5rem;
}


thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

li {
    text-align: -webkit-match-parent;
}


/* Añade estilos para la tabla del carrito */
#lista-carrito {
    width: 100%;
    margin-top: 20px;
    padding-left: 430px;
}

#lista-carrito th,
#lista-carrito td {
    padding: 10px;
    padding-left: 10px;
    text-align: center;
    border-bottom: 1px solid #cac8c8; /* Puedes ajustar el color y grosor de la línea según tus preferencias */
    margin-bottom: 30px; /* Agregamos un margen inferior para separar la línea del contenido debajo */
}


.imagenes{
    display: flex;
    flex-direction: row;
}

#img-carrito{
    width: 800px;
    margin-left: 460px;
}

#img-carrito:hover {
    cursor: pointer;
}


#img-perfil{
    border-radius: 90%;
    width: 50px;
    margin-left: 40px;
}

#img-perfil:hover {
    cursor: pointer;
}

.compra{
    display: flex;
    flex-direction: row;
}

#total-compra {
    margin-top: 25px;
    margin-right: 30px;
}

#confirmar-compra{
    background-color: #3596a3;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #bbb;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

#confirmar-compra:hover {
    background-color: #3580a3;
}

#vaciar-carrito{
    padding: 0px 30px;
    border: 1px solid #bbb;
    border-radius: 4px;
    cursor: pointer;
    height: 38px;
    color: #555;
    text-align: center;
    font-size: 11px;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
}    


  .column,
  .columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }
  
  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0; }
  }
  
  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .submenu:hover #carrito{
        display: block;
        position: absolute;
        right:0;
        margin-left: 230px;
        top:100%;
        z-index: 1;
        background-color: white;
        padding: 20px;
        min-height: 400px;
        min-width: 300px;
    } 

    .container {
      width: 80%; }
    .column,
    .columns {
      margin-left: 4%; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }
  
    .two.columns { 
        width: 10%; 
        margin-left: 20px;
    }
    
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    }
 

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    .producto {
        width: 100%; /* Hace que las tarjetas ocupen el ancho completo en pantallas más pequeñas */
    }
}
@media (min-width: 600px) {
    header {
        text-align: left;
    }
}